.sponsorCard{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    width:80vw;
    margin:auto;
    margin-top:2rem;
}

.c_card{
    margin: 1rem;
    align-items: center;
}

.card_btn{
    width:fit-content;
    margin: auto;
}

.c_cardImgBox{
    height:10rem;
    display: grid;
    align-content: center;
    justify-items: center;
}

.c_cardImgBox img{
    width:50%;
}

.error{
    margin:2rem auto;
    width:fit-content;
    font-size: 1.2rem;
}