
.sign{
    color: #fff;
    padding:2rem;
    justify-content:center;
    text-align:center;
    position: absolute;
    left:-50vw;
    top:0;
    z-index: 2;
    height: 200vh;
    width: 50vw;
	background: linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,1));
    transition: all 0.5s ease-in-out;
}

.sign.active{
    position: absolute;
    left: 0;
}

.sign h1{
    color: rgba(255, 255, 255, 0.55);
    font-size:1.5rem;
    font-weight:300;
    transition: color 0.15s ease-in-out;
}

.sign h1:hover {
    color: rgba(255, 255, 255, 0.9);
}

.c_form{
    width: 50%;
    color: #000;
    margin: 3rem auto;
}

.c_form_btn{
    margin: 2rem auto;
}

.cross_btn{
    height: 25px;
    width: 25px;
    position:absolute;
    right: 2rem;
    top: 2rem;
    background-image: url("/public/images/Wcross.svg");
    border-radius: 100%;
}
