.title_heading{
    padding-top:9rem;
}

.title p{
    padding-top:1rem;
}

.title a{
    margin:0 1rem;
}

.title{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top:2rem;
    color: #fff;
    background: linear-gradient(-45deg, #FA58B6, #7A0BC0, #270082, #1A1A40);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.brand{
    font-size:3.5rem;
    font-weight: bold;
}

.c_btn{
    margin: 6rem 2rem;
}

.c_btn_connect{
    position: fixed;
    background-image:url("/public/images/Btn_bg.svg");
    background-size: cover;
    color:#fff;
    background-repeat: no-repeat;
    padding:1rem 1rem 1rem 3.5rem;
    border:none;
    border-radius: 0;
    right: 0;
    z-index: 10;
    top:40%;
    font-size:1rem;
    font-weight: bold;
}


@media screen and (max-width: 475px) {
    .c_btn{
        margin: 2rem 1rem;
    }

    .title h1{
        padding-top:0;
    }
}
